@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #302AE6;
        --secondary-color: #536390;
        --font-color: #424242;
        --bg-color: #fff;
        --heading-color: #292922;
        --transition: all .5s;
    }

    .items {
        background-color: rgba(0,0,0,0.1);
    }

    :target {
        background-color: rgba(0,0,0,0.2);
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #9A97F3;
        --secondary-color: #818cab;
        --font-color: #e1e1ff;
        --bg-color: #161625;
        --heading-color: #818cab;
    }

    .items {
        background-color: rgba(255,255,255,0.1);
    }

    :target {
        background-color: rgba(255,255,255,0.2);
    }
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    nav ul {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1600px) {
    .grid {
        gap: 2em;
    }

}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: auto;
    width: 90%;
}

h1 {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover, a:visited {
    color: var(--font-color);
    text-decoration: underline;
}

ul, menu {
    list-style-type: none;
    padding: 0 0.5em;
    margin: 0px;
}

.item, nav ul li {
    padding-top: 1px;
}


nav {
    background-color: var(--font-color);
    padding: 0.25em;
    font-size: 1.4em;
}

nav ul {
    text-align: center;
}

nav ul a {
    color: var(--bg-color);
    padding: 0.25em;
}

nav ul a:hover {
    color: var(--bg-color);
    opacity: 0.6;
}

.grid {
    gap: 1em;
    display: grid;
}


section, .items, nav, #qrcode {
    border-radius: 0.5em;
}

section header {
    padding: 0 0.5em;
}


/* Scanning a QR code in night mode mostly fails, it seems it needs to always be presented on a light background */
#qrcode {
    display: block;
    background-color: #fff;
    color: #000;
    padding: 1em 1em 1em 1em;
}

#qrcode > img {
    margin: auto;
}
