{{- $rootContext := . }}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>{{.Title}}</title>
<link rel="stylesheet" href="{{.Prefix }}/css/default.css" type="text/css">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    {{- with .Header }}
    <header ><a href="/"><h1>{{.}}</h1></a></header>
    {{- else }}
    <header ><a href="/"><h1>{{.Title}}</h1></a></header>
    {{- end }}
    <nav>
        <ul>
        {{- range $idx, $section := .Sections }}
        <li><a href="#section-{{$idx}}" alt="{{$section.Name}}">{{$section.Name}}</a>|</li>
        {{- end }}
        </ul>
    </nav>
    <main id="root" class="grid">
        <aside id="network">
            {{- with .Wifi }}
            {{- if .Ssid }}
            <article id="wifi">
                <h2>Scan for WIFI</h2>
                <div id="qrcode"></div>
                <script src="{{ $rootContext.Prefix }}/js/qrcode.min.js" integrity="sha384-3zSEDfvllQohrq0PHL1fOXJuC/jSOO34H46t6UQfobFOmxE5BpjjaIJY5F2/bMnU" crossorigin="anonymous"></script>
                <script type="text/javascript">
                    new QRCode(document.getElementById("qrcode"), "WIFI:T:{{.Security}};P:{{.Password}};S:{{.Ssid}};H:{{.Hidden}};;");
                </script>
                <dl>
                    <dt><dfn>SSID</dfn>:</dt>
                    <dd>{{.Ssid}}</dd>
                    {{- with .Password }}
                    <dt><dfn>Password</dfn>:</dt>
                    <dd>{{ . }}</dd>
                    {{- end }}
                    {{- if .Password }}
                    <dt><dfn>Security</dfn>:</dt>
                    {{- with .Security }}
                    <dd>{{ . }}</dd>
                    {{- else }}
                    <dd>WPA</dd>
                    {{- end }}
                    {{- end }}
                    <dt><dfn>Hidden</dfn>:</dt>
                    <dd>{{.Hidden}}</dd>
                </dl>
            </article>
            {{- end }}
            {{- end }}
            <article>
                <dl>
                    <dt><dfn>URL</dfn>:</dt>
                    <dd><a href="/" id="page-address"></a></dd>
                </dl>
                <script type="text/javascript">
                    el = document.getElementById("page-address");
                    el.innerHTML=document.URL;
                    el.alt=document.URL;
                </script>
            </article>
        </aside>
        {{ range $idx, $section := .Sections }}
        <section id="section-{{ $idx }}">
            <header><h2>{{.Name}}</h2></header>
            <ul class="items">
                {{- range .Items }}
                <li class="item">
                    {{- if .Url }}
                    <a href="{{.Url}}" target="_blank" alt="{{.Name}}">
                    {{- end }}
                        <article>
                        {{- with .Icon }}
                        <i class="{{.}}"></i>
                        {{- end }}
                        <header><h3>{{.Name}}</h3></header>
                        <p>{{.Description}}</p>
                    </article>
                    {{- if .Url }}
                    </a>
                    {{- end }}

                </li>
                <hr>
                {{- end }}
            </ul>
        </section>
        {{ end }}
    </main>
    <footer>{{.Footer}}</footer>
</body>
</html>
